<style>
  .u{
    text-decoration:underline;
    color:blueviolet;
    padding: 0 5px;
    
  }
  .stretch
  {
    background-color: green;
    color: white;
    font-size: 18px;
    border-color: green;
    border-style:solid;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:2px;
    cursor:pointer;
    transition: transform 0.5s;
    margin-right: 10px;
  }
  .stretch:hover{
    transform:scale(1.2);
  }
  .Shadow{
     background-color: green;
    color: white;
    font-size: 18px;
    border-color: green;
    border-style:solid;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:2px;
    font-size: medium;
    cursor:pointer;
    position:relative;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.3) ;
    transition: 0.1s;
  }
  .Shadow:active{
    top: 4px;
    left:4px;
    box-shadow: none;
  }

    .stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;

    transition: padding 0.15s,
      margin 0.15s;
  }

  .stretch-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }
</style>