<style>

.modal{
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  margin-bottom: 10px;
}
.order{
  font-family: Arial;
  text-align:center ;
  font-size: 18px;
  text-decoration-thickness: 3px;
}
</style>