 <style>
  p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:0;
    margin-bottom: 0;
  }
.video-title{
 font-size: 18px;
 font-weight:bold;
 text-align:left;
 width:280px;
 line-height: 24px;
 margin-bottom: 5;
}
.video-stats{
 font-size: 14px;
 color: rgb(96, 96, 96);
 margin-bottom:20px;
}

.video-author{
  font-size: 14px;
  color: rgb(96, 96, 96);

  margin-bottom:20px;

}
.video-description{
  font-size :14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height:22px;
  margin-bottom: 50px;
}
.apple-text{
 font-family: Arial;
 font-size: 14px;
 color :white;
 text-align: center;
 background-color: rgb(227, 65, 64);
 padding-top: 18px;
 padding-bottom: 18px;

}

.span-example:hover{
  text-decoration: underline;
   cursor: pointer;
}
</style>