/* Tooltip Styles */
.tooltip {
    position: absolute;
    background-color: rgba(97, 97, 97, 0.9);
    color: white;
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10000;
    font-family: Roboto, Arial;
    font-weight: 500;
}

.icon-btn:hover .tooltip,
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.notification-icon-container:hover .tooltip,
.logo-container:hover .tooltip,
.button-create:hover .tooltip {
    opacity: 1;
}

/* FORCE HIDE TOOLTIP ON CLICK */
.tooltip-hidden .tooltip {
    display: none !important;
    opacity: 0 !important;
}