 .subscribe-button{
    background-color: rgb(204, 0, 0);
    color:white;
    border: none;
    padding-left:16px;
    padding-right:16px;
    padding-top:10px;
    padding-bottom:10px;
    cursor: pointer;
    margin-right:15px;
  
    transition: opacity 0.15s;
    vertical-align:top;
  }
  .subscribe-button:hover 
  {
    opacity: 0.7;
  }
  .subscribe-button:active{
    opacity:0.4;
  } 
  .join-button{
   background-color: white;
   color: rgb(6, 95, 212);
   border-color:rgb(6, 95, 212);
   border-style:solid;
   border-width: 1px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 9px;
    padding-bottom :9px;
   border-radius:5px;
   cursor:pointer;
   margin-right: 8px;
   transition: background-color 0.15s;
   vertical-align:top;
  
   color 0.15s;
  }
  .join-button:hover{
    background-color: rgb(6, 95, 212);
    color:white;
  }
  .join-button:active{
    opacity:0.7;
  }
  .tweet-button{
  background-color: rgb(29, 155, 240);
  color: white;
  
  border-color:rgb(29, 155, 240);
  border-style:solid;
  border-width:1px;
  border-radius: 18px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor:pointer;
  margin-right: 8px;
  transition :box-shadow 0.15s;
  vertical-align:top;
  }
  .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  .tweet-button:active{
   opacity :0.7;
  }
 .uber-button{
  background-color: black;
  color:white;
  height: 40px;
  width: 110px;
  border-color:white;
  border-style:solid;
  margin-right: 8px;
  cursor:pointer;
  transition :opacity 0.15s;
 }
 .uber-button:hover{
  opacity: 0.8;
 }
 .amazon-button{
  background-color: rgb(255,216,20);
  color:black;
  height: 30px;
  width:140px;
  border :none;
  border-radius:15px;
  cursor:pointer;
  transition :0.15s;
 }
 .amazon-button:hover{
  background-color: rgb(214, 205, 3);
 }
 .github-button{
  background-color:rgb(46,164,79);
  color:white;
  height:35px;
  width:90px;
  border-style:solid;
  border-color:rgb(46,164,79);
  border-radius:5px;
  cursor:pointer;
  transition :box-shadow 0.15s;
}
.github-button:hover{
 box-shadow: 0px 5px 8px rgba(0,0,0,0.15);
}
.bootstrap-button{
background-color: white;
color:rgb(108,117,125);
height: 35px;
width: 120px;
border-style:solid;
border-color:rgb(108,117,125);
border-radius:4px;
cursor:pointer;
transition: background-color 0.15s,
color 0.15s;
}
.bootstrap-button:hover{
  background-color: rgb(108,117,125);
  color :white;
}